@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --black: #222;
  --background: #550040;
  --purple: #64004b;
  --purple2: #f3bcff;
  --purple3: #7c0090;
  --purple4: #0e0011;
  --yellow: rgb(255, 250, 201);
}

html {
  font-size: 63%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.65rem;
  background-color: var(--background);
  font-weight: 600;
  min-height: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  padding: 10px;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  background: url(images/girlmovie.png);
  mix-blend-mode: screen;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 250px;
}
.banner .content {
  max-width: 900px;
  text-align: left;
}

.banner .content h2 {
  font-size: 1.9em;
}
.headline {
  color: var(--yellow);
}
.dot {
  color: var(--white);
}

.banner .content p {
  font-size: 1.25em;
  font-weight: 600;
  padding: 6px 0;
  color: var(--white);
}

.banner .content p.first-heading {
  font-size: 1.75em;
  font-weight: 800;
  color: var(--white);
}

.btn {
  font-size: 1em;
  color: var(--purple);
  background: #fffce0;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 150px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.btn:hover {
  letter-spacing: 6px;
}
.logo {
  display: flex;
  align-items: left;
}

header {
  position: fixed;
  top: -130px;
  left: -110px;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: left;
  align-items: center;
}

header.sticky {
  background: #8e0364fa;
  width: 110%;
  height: 29%;
  margin-top: 129px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  transition: ease 0.5s;
}

a.logo {
  mix-blend-mode: plus-lighter;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 25px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

header .social {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  color: var(--yellow);
  font-size: 23px;
}

header .navigation li a:hover {
  color: var(--purple);
}

header.sticky .navigation li a {
  color: var(--white);
}
header.sticky .navigation li a:hover {
  color: var(--purple2);
}

span.headline {
  color: var(--purple3);
}

section {
  display: flex;
  padding: 100px;
}

#cart-icon {
  font-size: 50px;
  display: flex;
  padding-left: 500px;

  color: var(--yellow);
}

/* Start of About Section */

section.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-top: 10%;
}
.row {
  position: relative;
  display: flex;
}

.row .col50 {
  position: relative;
  width: 100%;
}

.row .col50 p {
  text-align: justify;
  color: var(--white);
  font-weight: 400;
}

.row .col50 .imgBx {
  position: relative;
  min-height: 300px;
  height: 100%;
  padding: 20px;
}
.row .col50 .imgBx img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img.shop {
  border-radius: 10px 10px 10px 10px;
  mix-blend-mode: screen;
  margin-right: 40px;

  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

strong {
  display: block;
  font-size: 1.9em;
  color: var(--yellow);
  padding-bottom: 28px;
}

/* Start of Movies Section */

.movies-heading {
  margin-top: 50px;
  font-size: 1.9em;
  text-align: center;
  color: var(--yellow);
}
p.choose {
  margin-top: 30px;
  text-align: center;
  color: var(--white);
  font-size: 25px;
}

.all-movies-container {
  margin: 20px 20px;
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 17rem);
  gap: 15rem;
  align-items: flex-start;
  justify-content: center;
  font-size: 8px;
}
.menu .box-container .box {
  text-align: center;
}
.menu .box-container .box img {
  width: 80%;

  margin-bottom: 1rem;
}
.menu .box-container .box h3 {
  font-size: 15px;
  color: #4b7078;
}

.box {
  cursor: pointer;
}

.box {
  position: relative;
}

.movie-image {
  display: block;
  width: 150%;
  border-radius: 17px;
  height: auto;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

/* .image__title {
  font-size: 2.5em;
  font-weight: bold;
}

.image__description {
  font-size: 2em;
  margin-top: 0.25em;
} */
.product-title {
  display: flex;
  font-size: 16px;
  align-items: flex-start;
  flex-direction: column;
  color: var(--yellow);
  margin-top: 18px;
}

span.price {
  color: var(--purple2);
  font-size: 15px;
}

.product-type a {
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
}

ul.icons {
  display: flex;
  font-size: 20px;
  margin-left: -10px;
  color: var(--yellow);
  align-items: flex-start;
  justify-content: flex-start;
  width: 20px;
}

/* Start of cart section */

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background-color: rgb(252, 249, 251);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.3s;
}

.cart.active {
  right: 0;
}

.cart-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2rem;
  color: var(--purple);
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 140px;
  height: 140px;
  object-fit: contain;
  padding: 20px;
}

i.bx.bx-shopping-bag.add-cart {
  margin-left: 10px;
  color: var(--yellow);
  font-size: 24px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-product-title {
  font-size: 1.5rem;
  color: var(--purple3);
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
}

/* .cart-quantity {
  border: 1px solid var(--purple);
  /* outline-color: #550040; */
/* width: 2.4rem;
  text-align: center;
  font-size: 1.5rem; */
/* } */

/* Cart quantity to show arrows.  CSS styling can't be applied as a class. */

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.cart-remove {
  font-size: 24px;
  color: var(--black);
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--purple);
}

.total-title {
  font-size: 1.45rem;
  font-weight: 600;
  color: grey;
}
.total-price {
  margin-left: 0.5rem;
}

button.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: rgb(255, 255, 227);
  color: var(--purple);
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
/* not working */
button .btn-buy:hover {
  letter-spacing: 3px;
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
}

/* Start of Media Queries */

@media only screen and (max-width: 460px) and (min-width: 320px) {
  body {
    background: #ab005cb5;
  }
  header.sticky {
    display: none;
  }
  header {
    position: fixed;
    left: -168px;
    width: 100%;
    padding: 0px 84px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header .navigation li {
    font-size: 15px;
    padding: 6px;
    margin-left: 3px;
  }
  ul.navigation {
    margin: 0 auto;
    margin-top: -140px;
  }
  ul.social {
    margin-left: 110px;
  }
  .banner {
    position: relative;
    margin-top: 49px;
    width: 120%;
    min-height: 101vh;

    background: url(images/girlmovie.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .banner .content h2 {
    font-size: 19px;
  }
  .banner .content p.first-heading {
    font-size: 19px;
  }
  .banner .content p {
    font-size: 16px;
  }
  section.about {
    flex-direction: column-reverse;
    padding-top: 0px;
    padding-left: 45px;
    padding-right: 0px;
  }
  img.shop {
    margin-top: 27px;
    padding: 7px 230px 0px 0px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 460px) {
  /* iPads, Tablets */

  body {
    background: #ab005cb5;
  }
  header.sticky {
    display: none;
  }
  header {
    position: fixed;
    left: -168px;
    width: 100%;
    padding: 8px 79px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header.navigation li {
    font-size: 14px;
    padding: 0px;
    margin-left: 3px;
  }
  ul.navigation {
    margin: 0 auto;
    margin-top: -140px;
  }
  ul.social {
    margin-left: 110px;
  }
  .banner {
    position: relative;
    margin-top: 50px;
    width: 120%;
    min-height: 101vh;

    background: url(images/girlmovie.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .banner .content h2 {
    font-size: 23.5px;
  }
  .banner .content p.first-heading {
    font-size: 19px;
  }
  .banner .content p {
    font-size: 16px;
  }
}
